*resharper.user
[Dd]ebug/
[Rr]release/
build/
[Bb]in/
[Oo]bj/
backup/
LocalDeploy/
NietoYostenWebApp/App_Data/
NietoYostenWebApp/pictures/
NietoYostenWebApp/images/caras/
NietoYostenWebApp/images/stories/
NietoYostenWebApp/LuceneIndex/
NietoYostenWebApp/NietoYostenWebApp.Publish.xml
elmahlog/
.vs/
*.suo
*.sln.cache
_Resharper.*/
*.user
NietoYostenMvc/Content/pictures/
ckeditor/
AppSettingsSecrets.config
imagecache/
*.swp
*.*~
*.crunchsolution.cache
*.pubxml