*resharper.user
[Dd]ebug/
[Rr]release/
build/
[Bb]in/
[Oo]bj/
backup/
LocalDeploy/
NietoYostenWebApp/App_Data/
elmahlog/
*.suo
*.sln.cache
_Resharper.*/
AssemblyInfo.cs
*.user
NietoYostenMvc/Content/pictures