.logobar
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #1a1010;
    color: #ffffff;
}

.login-corner
{
    background-color: #1a1010;
    text-align: center;    
}

.login-corner a:link
{
    color: #cfcfcf;
}

.login-corner a:visited
{
    color: #cfcfcf;    
}

.navbar-default
{
    background-color: #433232;
    background-image: none;
    color: #EAEAEA;
    border: 0px;
    border-radius: 0px;
}

.navbar-collapse
{
    background-color: #433232;
    color: #EAEAEA;
}

.navbar-default .navbar-nav > li > a
{
    color: #EAEAEA;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #9999FF;
}

.family-pic {
    text-align: center;
    margin: auto;
    display: block;
}

.article-date {
    text-align: right;
    font-size: smaller;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5em;
    font-family: "Trebuchet MS";
}