@using System.Web.Mvc
@using NietoYostenMvc.Code
@helper ErrorMessage(string message)
{ 
    if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-danger">  
            <a class="close" data-dismiss="alert" href="#" area-hidden="true">&times;</a>
            @message
        </div>
    }    
}

@helper AlertMessage(string message, string alertClass)
{
    if (!string.IsNullOrWhiteSpace(message))
    {
        if (string.IsNullOrWhiteSpace(alertClass))
        {
            alertClass = "alert-success";
        }
        <div class="row">
            <div class="alert @alertClass">
                <a class="close" data-dismiss="alert" href="#" area-hidden="true">&times;</a>
                @message
            </div>
        </div>
    }
}