@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">Miembros de la familia</h1>
<h2>Papi</h2>
<img alt="Papi" src="~/images/caras/papi2.jpg" />
<p>
    Esposo de la jefa (la ley),  papa de ocho jóvenes y abuelito de tres pequeñitos. Es una persona muy paciente,
    buena, y muy  pero muy consentidor y alcahuete.  Aunque también es firme cuando lo necesita ser. Es muy talentoso
    y artístico, aunque necesita practicar.  Le gusta mucho estar en la computadora checando su mail y demás, leer, y
    también ayudar en la casa, ya que ahora está retirado. Es alguien muy ordenado y organizado. Cumpleaños: 23 de Noviembre,
    1943.
</p>
<hr />
<h2>Mami</h2>
<img alt="Mami" src="~/images/caras/mami2.jpg" />
<p>
    Esposa del Don, mama de ocho jóvenes y abuelita de tres chiquitines. Ella es la jefa de la casa, la que dice que
    se hace y que no, la que regaña, etc. Sus grandes amores son Danny y Lucy, aunque quiere a todos por igual. Otro de
    sus grandes amores es el jardín, se la pasa ahí todo el tiempo que puede, regando, sembrando, cortando etc. También
    le gusta ir a caminar e ir al súper.  Y su más grande amor es Dios, disfruta mucho ir a misa y hacer oración.
    Cumpleaños: 29 de Junio, 1957.
</p>
<hr />
<h2>Rafael: Rafa</h2>
<img alt="Rafa" src="~/images/caras/rafa2.jpg" />
<p>
    El mayor de los ocho y el más responsable. Uno de los de los más inteligentes de los hijos, y probablemente el más
    inteligente. Tiene un corazón muy noble y honesto. Es alguien que siempre hace lo que es correcto y es una persona muy
    ecológica y saludable también. Le gustan mucho las computadoras, la programación, etc. Trabajo en Microsoft un tiempo,
    en Seattle, donde conoció a su novia Christina con quien muy pronto se casara. También tiene un gran don para la música
    clásica, el piano es su pasión. Cumpleaños: 1ro de Enero, 1982..
</p>
<hr />
<h2>Helen Marie: Helen</h2>
<img alt="Helen" src="~/images/caras/helen2.jpg" />
<p>
    La segunda hija, la mayor de las mujeres. Probablemente la que empezó a poner el desorden. Le gusta mucho ver la tele,
    ir al cine, leer, convivir con familia y amigos; en fin, todo lo que tenga que ver con entretenimiento. Los deportes y el
    ejercicio no incluidos. Es una persona firme en su carácter, es buena para dar órdenes y supervisar, aunque tiene un
    lado suave con sus hijos, los chifla un poco. Está casada con su esposo Hector Lara desde hace 5 años, tienen dos
    hermosos hijos: Santiago y Lucia. Cumpleaños: 14 de Marzo, 1984.
</p>
<hr />
<h2>Cristina Maria: Cristy</h2>
<img alt="Cristy" src="~/images/caras/cristy.jpg" />
<p>
    Tercera en la fila. Ella es una persona muy dulce y noble. Sabe escuchar, no habla mal de nadie y es alguien en quien
    siempre se puede confiar. Es muy ordenada en muchas cosas, pero en otras no. En general, es una persona muy limpia, y al
    parecer también disfruta limpiar. Es enfermera, asi es que también se preocupa por los demás, pero primero está su novio
    Blas, de quien está muy enamorada. Le gusta hacer álbumes, ver películas, salir con amigos, estar en la computadora y
    bailar salsa. Cumpleaños: 17 de Noviembre, 1985.
</p>
<hr />
<h2>Marcos Gerardo: Marcos</h2>
<img alt="Marcos" src="~/images/caras/marcos2.jpg" />
<p>
    Es el cuarto hijo. Él puso todavía más desorden. Aunque es una persona muy relajada, tranquila, amor y paz, es
    también el más bromista, molestón, y alguien con quien es muy fácil de llevarse. Es algo desidioso, pero cuando lo
    decide hacer, lo hace bien. Es muy creativo y le gusta el diseño gráfico, la fotografía y las computadoras. También
    disfruta estar con su familia, amigos, y hacer deportes. Está casado con su bella esposa Brenda Rodríguez desde hace
    un año, y tienen un bebe precioso, Gerardito. Cumpleaños: 17 de Octubre, 1987..
</p>
<hr />
<h2>Ana Elizabeth: Anita</h2>
<img alt="Ani" src="~/images/caras/ani2.jpg" />
<p>
    La más pequeña de las mujeres, y la más pequeña de los grandes. Ella es la más dulce, linda y cariñosa de los ocho
    hijos. Es una persona con un corazón muy grande, lleno de amor y bondad hacia todos. Es muy inteligente e independiente.
    Es buena en muchas cosas y es muy inquieta. Le gusta la música, cantar, el campismo, viajar, idiomas, etc.
    Está involucrada en el movimiento Cristiano y es una persona muy religiosa. Estudia en Benedictine University.
    Su novio Scott está en Seattle, donde se conocieron, extrañándola. Cumpleaños: 21 de Abril, 1990.
</p>
<hr />
<h2>José David: Pepito</h2>
<img alt="Jose" src="~/images/caras/jose2.jpg" />
<p>
    O como nos gusta decirle, Bebus, Tio Joe, Chino, etc. Es el mayor de los chicos. Es alguien muy paciente, tranquilo,
    y es muy bueno con los niños y bebes. Sus sobrinos lo aman. Es un poco tímido, pero tiene mucho potencial. Estudia
    Farmacología en Austin Community College. Le encantan los video juegos, especialmente Rock Band. Disfruta mucho leer,
    salir con sus amigos, ver películas, estar en la computadora (Facebook y videos), escuchar música y come ciertos tipos
    de comida únicamente, hay muchas cosas que nunca probaría. Cumpleaños: 20 de Marzo, 1992.
</p>
<hr />
<h2>Michael Joshua: Mickey</h2>
<img alt="Mickey" src="~/images/caras/mickey2.jpg" />
<p>
    El séptimo y el más tremendo de las ocho. También uno de los más talentosos. Es muy artístico, muy bueno para tocar
    la guitarra y dibujar. También canta, aunque no tan bien. Le gusta mucho la música, ahorita especialmente Lil Wayne y
    Drake, y aunque se cree mucho, es una persona noble y sensible por dentro. Actualmente esta estudiando en Rouse High
    School, ahí conocio a su novia Olivia. Tambien esta en el equipo de soccer. Trabaja en Little Caesar’s ahorrando para
    comprarse un carro y pronto salirse de la casa. Le gusta mucho salir con sus amigos y su novia. Cumpleaños: 8 de
    Agosto, 1994..
</p>
<hr />
<h2>Daniel Andrés: Dany</h2>
<img alt="Dany" src="~/images/caras/dany2.jpg" />
<p>
    El octavo, el último de los ocho, el bebe de la familia. Uno de los más inteligentes. Es una persona muy tranquila,
    buena, fácil de llevar y confiable. Es muy bueno en la escuela, casi siempre ha estado en el cuadro de honor o algo por
    el estilo. Es especialmente bueno en materias que tienen que ver con biología y ciencias en general. Le gusta mucho leer,
    pero su pasatiempo favorito es definitivamente jugar X-Box, especialmente Black Ops y Rock Band. También le gustan los
    deportes, su favorito es el futbol soccer. Está cursando su primer año en Rouse High School junto con Mikey.
    Cumpleaños: 13 de Diciembre, 1996..
</p>
