<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="NietoYostenConnectionString"
         connectionString="data source=nietoyosten.db.8132634.hostedresource.com;Initial Catalog=NietoYosten;User ID={username};Password={password}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <trace enabled="false" xdt:Transform="SetAttributes"/>
    
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="noreply@nietoyosten.com">
        <network clientDomain="nietoyosten.com" host="smtpout.secureserver.net" userName="noreply@nietoyosten.com" password="{password}" port="80"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="SetAttributes">
      <remove name="UrlRoutingModule" xdt:Transform="Insert" />
      <add name="UrlRoutingModule"
           type="System.Web.Routing.UrlRoutingModule, 
               System.Web.Routing, 
               Version=3.5.0.0, 
               Culture=neutral, 
               PublicKeyToken=31BF3856AD364E35" xdt:Transform="Insert"/>
    </modules>
    <handlers>
      <add name="UrlRoutingHandler"
           preCondition="integratedMode"
           verb="*"
           path="UrlRouting.axd"
           type="System.Web.HttpForbiddenHandler, 
               System.Web, Version=2.0.0.0, 
               Culture=neutral, 
               PublicKeyToken=b03f5f7f11d50a3a" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>
  
</configuration>