<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the
                  attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
      <section name="security" type="Elmah.SecuritySectionHandler, Elmah" requirePermission="false" />
      <section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah" requirePermission="false" />
      <section name="errorMail" type="Elmah.ErrorMailSectionHandler, Elmah" requirePermission="false" />
      <section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah" requirePermission="false" />
      <section name="errorTweet" type="Elmah.ErrorTweetSectionHandler, Elmah" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NietoYostenConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=NietoYosten;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ElmahConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ELMAH;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="NietoYostenConnectionString" applicationName="/" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/Default.aspx" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="NietoYostenConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="NietoYostenConnectionString" applicationName="/" />
      </providers>
    </profile>
    <siteMap>
      <providers>
        <add name="User" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
        <add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin.sitemap" />
      </providers>
    </siteMap>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="Error.aspx" />
    <!--<trust level="Medium" originUrl="" />-->
    <trace enabled="true" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <!-- Restrict authorization for private pages -->
  <location path="Content">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="family, admin" />
        <deny users="*" />
      </authorization>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="trace.axd">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Members.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Links.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LinksCategories.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Search.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ShowArticle.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TestLucene.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pictures">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pictures.aspx">
    <system.web>
      <authorization>
        <allow roles="family, friend" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@nietoyosten.com">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\smtp\" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="BaseUrl" value="http://nietoyosten.dev:53157"/>
    <!-- Pagination parameters -->
    <add key="nPaginationLinks" value="5" />
    <add key="articlesPerPage" value="5" />
    <!-- Facebook app -->
    <add key="FacebookAppId" value="{fb_app_id}"/>
    <add key="FacebookAppSecret" value="{fb_app_secret}"/>
  </appSettings>
  <elmah>
    <security allowRemoteAccess="1" />
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah"
            connectionStringName="ElmahConnectionString" />-->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmahlog" />
  </elmah>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>