<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NietoYostenDb" connectionString="Data Source=.\sqlexpress;Initial Catalog=nietoyosten.test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings file="AppSettingsSecrets.config">
    <add key="TestConfig" value="rafa" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZetaLongPaths" publicKeyToken="b764f59068f31f38" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.7" newVersion="1.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>