@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@HTML.AlertMessage(ViewBag.AlertMessage, ViewBag.AlertClass)
<h2>Recuperación de contraseña</h2>
Por favor escribe tu correo y da click a 'Enviar' para enviarte un nuevo password.

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="email">Dirección de email</label>
                <input type="email" class="form-control" name="email" id="email" data-val="true" data-val-required="Requerido">
                <span class="field-validation-valid" data-valmsg-for="reason" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
}
