@{
    ViewBag.Title = "Registration Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Muchas gracias! Hemos recibido tu información. Te enviaremos un correo ya que tu cuenta sea aprovada.</p>
