@model dynamic

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Establecer nueva contraseña</h2>
Por favor escriba una nueva contraseña para su cuenta

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="password">Nueva contraseña</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="confirm">Escribe la contraseña de nuevo</label>
                <input type="password" class="form-control" name="confirm">
            </div>
        </div>
        <input type="hidden" name="token" value="@Model.Token" />
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
}