@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Picture Albums</h2>

@foreach (var album in @Model)
{
    <p><a href="~/pictures/@album.FolderName">@album.Title</a></p>
}
