@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <!-- Pictures menu column -->
    <div class="col-md-2">
        <p>Pictures menu</p>
    </div>
    
    <!-- Picture thumbnails grid (4 pics per row) -->
    <div class="col-md-10">
        @foreach (var row in @Model)
        {
            <div class="row">
                @foreach (var picture in row)
                {
                    <div class="col-md-3">
                        <div class="thumbnail" style="text-align: center">
                            <p>
                                <a href="~/pictures/@ViewBag.Title/@picture.Title">
                                    <img src="~/content/pictures/original/@picture.FolderName/@picture.FileName?Height=120" />
                                </a>
                            </p>
                            <p><input type="checkbox" title="@picture.Title" />@picture.Title</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>