@{
    ViewBag.Title = "ShowPicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <p><img src="~/Content/pictures/original/@Model.FolderName/@Model.FileName?w=640&h=640&mode=max"/></p>
    <p>@Model.Title</p>
    <p><a href="~/Content/pictures/original/@Model.FolderName/@Model.FileName">Descargar original</a></p>
</div>
