@using NietoYostenMvc.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nieto Yosten Family</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- NietoYosten CSS -->
    <link rel="stylesheet" href="~/content/styles.css">
</head>
<body>
    <!-- Page body container -->
    <div class="container">
        <!-- Logo and login bar -->
        <div class="row logobar">
            <div class="col-md-9">
                <img src="~/images/nylogomas.png" />
            </div>
            <div class="col-md-3 login-corner">
                @Home.LoginInfo(ViewContext.Controller as ApplicationController)
            </div>
        </div>
        <!-- Menu and search bar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Menu items: replace with helper/partial to generate code based on current logged in user -->
                <ul class="nav navbar-nav">
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/news">News</a></li>
                    <li><a href="#">Family</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corners <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Papi</a></li>
                            <li><a href="#">Mami</a></li>
                            <li><a href="#">Rafa</a></li>
                            <li><a href="#">Helen</a></li>
                            <li><a href="#">Ani</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Reflexiones</a></li>
                            <li><a href="#">Citas</a></li>
                            <li><a href="#">Chistes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Links</a></li>
                    <li><a href="http://fotki.com/nietoyosten">Fotki</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2013 - Nieto Yosten Website</p>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>
